@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  background-color: var(--nav-color);
  font-size: 1.2rem;
  font-family: "Merriweather Sans", sans-serif;
  height: 70px;
}

.navbar {
  width: 125%;
  height: 60px;
  background-color: #434343;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
}

.container .navbar {
  justify-content: space-evenly;
}

.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}

.navbar a {
  color: var(--nav-text);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.container-gameinfo {
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.game-details {
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1593305841991-05c297ba4575?q=80&w=1957&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #f3f4f6; */
}

.game-title {
  color: #f3f4f6;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.add-to-cart{
  color: #171717;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #ddd;
}

.game-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.game-summary {
  width: 70%;
}

.game-reviews {
  width: 30%;
}

.game-summary,
.game-reviews {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-summary h2,
.game-reviews h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.game-reviews h3 {
  margin-top: 0.5rem;
  font-weight: 600;
}

.space {
  height: 500px;
}

.container-contact {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.shipping-details {
  border: 1px solid #ddd;
  padding-top: 1rem;
}

.shipping-details h3 {
  margin-bottom: 1rem;
}

.address {
  margin-bottom: 1rem;
}

.address span {
  font-weight: bold;
}
